section{
    display: flex;
    width: 100%;
    overflow: scroll;
    overflow-y: hidden;
}

section img{
    width: 300px;
    transition: 250ms all;
}

img:hover {
    margin-left: 0 40px;
    transform: scale(1.2);
    cursor: pointer;
}

/* .content{
    border: 1px solid red;
} */

.content div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
}

.content-display{
    display:block;
}

#movies-searchable{
    /* height:300px; */
}

iframe{
    margin:20px;
}